.DetailCardItem {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    align-items: center; 
  }
  
  .DetailHeader {
    background-color: #fafafa;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
  }
  
  .DetailItemHeader {
    font-size: 1.5rem; 
    color: #333;
    margin: 0;
  }
  
  .DetailItemImg {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    object-fit: contain;
    margin: 1rem; 
  }
  
  .DetailInfo {
    padding: 1rem;
    font-size: 1rem;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
  }
  
  .DetailItemFooter {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  
  .DetailOption {
    background-color: #0c3506;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .DetailOption:hover {
    background-color: #0c3506;
  }
  

  .DetailPropertiesList {
    list-style: none; 
    padding: 0; 
    margin: 1rem 0; 
  }
  
  .DetailProperty {
    padding: 0.5rem 0; 
  }
  